* {
	margin: 0;
	padding: 0;
	border: 0;
}

#welcomeText, #linkedInIcon, #githubIcon, #sonyaText, #contactText, #resumeText {
	visibility: hidden;
}

#container{
	height: 100%;
	width: 100%;
}

#contactDialog{
	height: 1000px;
	width: 1400px;
	margin-top: 1250px;
	margin-left: -300px;
}

#resumeDialog{
	height: 100%;
	width: 3000px;
	margin-left: -1250px;
}

#bodyModal{
	margin-top: 350px;
	text-align: center;
	font-size: 75px;
}

#modalDialog{
	display: block;
	text-align: center;
}

#pdf {
   margin-top: -350px;
 }
 
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (orientation : landscape){ 
  	#bodyModal{
		margin-top: 10px;
		text-align: center;
		font-size: 15px;
	}
	#contactDialog{
		height: 100px;
		width: 500px;
		margin-top: 250px;
		margin-left: 50px;
	}
}