* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #303030;
  /*background-color: white;*/
}


#top {
  margin-top: 75px;
  margin-left: 75px;
	position: relative;
	z-index: 1000;
	height: 1px;
  width: 1px;
  background: -webkit-linear-gradient(right, #303030, #6F22B6
  	); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #303030, #6F22B6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #303030, #6F22B6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #303030, #6F22B6); /* Standard syntax */
}


#sonya-img {
    z-index: 1000;
    margin-top: -175px;
		margin-right: 10px;
    margin-left: 75px;
    position: absolute;
		float: right;
    width: 200px;
    height: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    background-image: url("images/student-photo-115.jpg");
    background-position: center;
    background-repeat:no-repeat;  
    background-size: cover;   
}    

#nav {
    z-index: -1;
	   margin-left: 75px;
		background: -webkit-linear-gradient(#6F22B6, #303030); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6F22B6, #303030); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6F22B6, #303030); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6F22B6, #303030); /* Standard syntax */
    width: 1px;
    height: 1px;
    text-align: center;
    display: inline-block;

}

li {
  margin-top: 50px;
 list-style-type: none;
  padding: 10px;
 }

span {
  color: white;
  z-index: -1;
 	font-size: 25px;
  text-decoration: none;
 }

span:hover {
  color: #303030;
  text-decoration: underline;
  cursor: pointer;
 }

 #container {
  background-color: white;
  height: 1200px;
  width: 1077px;
  float: right;
 }

 #pdf {
   width: 1077px;
   height: 1200px;
 }

 #projects {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
 }

 #contact-info{
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
 }

 .invisible {
  display: none;
 }